footer{
    background-color: white;
}

footer  div[class="container-fluid"]{
    background-color: white;
}

footer img{
    width: 130px;
    height: 130px;
    -moz-transition:rgb(00,00,80);
    -webkit-transition: rgb(00,00,80);
    -o-transition: rgb(00,00,80);
}

footer img:hover{
    opacity:0.5;
    -moz-transition: rgb(00,00,80);
    -webkit-transition: rgb(00,00,80);
    -o-transition: rgb(00,00,80);
}

[class="navbar col-sm-3"]{
    color: white;
    font-size : 20px;
    font-weight: bold;
    font-family: "batang";
    background-color: rgb(225,198,169);
}

[class="navbar col-md-3"] a{
    color: whit e;
}